/* ----------nav---------- */
#cart-icon{
    position:absolute;
    top:0px;
    right:0;
}
#search{
    position:absolute;
    top:70px; 
    right:25%;
}
@media screen and (min-width: 650px) {
    #search{
        position:absolute;
        top:10px; 
        right:40%;
    }
  }
/* ----------/nav---------- */
/* ----------About---------- */
#selfi{
    width: 130px;

}
/* ----------/About---------- */
 /* ----------item pg---------- */
#item img {
    width: 100%;
 }
 #old-price {
     text-decoration: line-through;
     font-size: small;
 }
 #save {
     color: red;
     font-size: small;
 }
 #sale {
     color: red;
     font-size: large;
 }
 #num-input{
    width: 50px;
 }
/* ----------/item pg---------- */
/* ----------cart---------- */
#cart-anchor {
    color: black;
    font-size: small;
    text-decoration: underline;
}
#calculations{
    font-size: small;
}
#promo-save{
    color: red;
    font-size: small;
}
#total{
    font-size: large;
    font-weight: bold;
}
/* ----------/cart---------- */