{% extends 'base.html' %}
{% block content %}

<header>
    <!-- page heading -->
    <div class="jumbotron jumbotron-fluid m-1 rounded">
        <div class="container">
          <h1 class="display-4 text-center">Lover</h1>
        </div>
    </div>
</header>
<main>
    <!-- img links -->
    <div class="container">
        <div class="row text-center">
          {% for pg in linked_pg %}
          <a class="col-sm-3 col-6 border rounded text-dark" href="{{ pg.href }}">
            <img width="100%" src="{{ pg.src }}" alt="{{ pg.alt }}"/>
            <span>{{ pg.title }}</span>
          </a>
          {% endfor %}
        </div>
    </div>

    <!-- <div class="row row-cols-1 row-cols-md-3 m-1">
      {% for pg in linked_pg %}
        <a class="col mb-4 text-dark" href="{{ pg.href }}">
            <div class="card h-100">
              <img src="{{pg.src}}" class="card-img-top" alt="{{pg.alt}}">
              <div class="card-body text-center">
                  <h5 class="card-title">{{pg.title}}</h5>
              </div>
            </div>
          </a>
      {% endfor %}
    </div> -->

    <!-- spotlight links boostrap cards -->
    <h1 class="mt-5 mb-2 text-center">In The Spotlight</h1>
    <div class="row row-cols-1 row-cols-md-3 m-1">
      {% for item in spotlight %}
        <a class="col mb-4 text-dark" href="{{ item.href }}">
            <div class="card h-100">
            <img src="{{item.src}}" class="card-img-top" alt="{{item.alt}}">
            <div class="card-body text-center">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.info}}</p>
            </div>
            </div>
          </a>
      {% endfor %}
    </div>
</main>

{% endblock content %}