{% extends 'base.html' %}
{% block content %}

<header>
  <!-- other art pages -->
    <div class="container my-4">
        <div class="row text-center">
          {% for pg in other_pages %}
          <div class="col border rounded">
            {{pg.name}}
          </div>
          {% endfor %}
        </div>
    </div>
</header>
<main>
  <!-- products -->
  <div class="row row-cols-1 row-cols-md-3 mx-3">
    {% for i in range(12) %}
      <div class="col mb-4">
          <div class="card h-100">
          <img src="{{products[i].src}}" class="card-img-top" alt="{{products[i].alt}}">
          <div class="card-body">
              <h5 class="card-title">{{products[i].title}}</h5>
          </div>
          </div>
      </div>
    {% endfor %}
  </div>
</main>

{% endblock content %}